@{
    ViewData["Title"] = "Calculator";
}

    <div class="header">
        <h1 class="display-4">Calculator</h1>
        <p>Do different kind of calculations! First type in values, then select the operations.</p>
        
    </div>
    
    <div class="content">

        <div class="values ">
            <label for="value1"><b>First value:</b></label>
            <input class="value" id="value1" type="number" />
            <label for="value2"><b>Second value:</b></label>
            <input class="value" id="value2" type="number" />
            <div class="icons hidden">
                <b> Operations: </b>
                <img id="plus" class="operatorIcon" src="~/images/plus.png" />
                <img id="minus" class="operatorIcon" src="~/images/minus.png" />
                <img id="multiplication" class="operatorIcon" src="~/images/multiply.png" />
                <img id="division" class="operatorIcon" src="~/images/substract.png" />
            </div>

        </div>

       
        <div class="results">

        </div>

    </div>
