@{
    ViewData["Title"] = "Calculator";
}

    <div class="header">
        <h1 class="display-4">Calculator</h1>
        <p>Do different kind of calculations! For adding a new value, click on plus sign.</p>
        <hr/>
    </div>
    
    <div class="content">
        <img class="operatorIcon" src="~/images/plus.png" />
        <img class="operatorIcon" src="~/images/minus.png" />
        <img class="operatorIcon"src="~/images/multiply.png" />
        <img  class="operatorIcon" src="~/images/substract.png" />
        

    </div>
</div>
